body {
  background: #FFFFFF;
  height: 100%;
  position: absolute;
  width: 100%;
}

.main {
  height:100%;
  padding: 52px 0 40px;
  box-sizing:border-box;
}

.header {
  height: 52px;
  position: absolute;
  width: 100%;
}

.sidebar {
  background-color: #F8F8F8;
  border-right: solid 1px #E7E7E7;
  float: left;
  height: 100%;
  /*overflow-y: scroll;*/
  width: 220px;
}

.canvas {
  background:#EEE;
  height:100%;
  overflow-y:scroll;
  padding: 20px;
}

.footer {
  background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image: -o-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222));
  background-image: linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
  bottom:0;
  height:40px;
  position:absolute;
  width:100%;
}